*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../pic/banner.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.nav-link{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 40px;
    font-weight: 600;
    transition: .3s ease-in-out;
}
.collapse{
    margin-top: 25px;
}
.offer{
    margin-left: 40px;
}
.nav-link:hover{
    color: #e59205;
}
.banner{
    position: relative;
    z-index: 1;
    height: 130px;

}

.navbar-brand{
    padding: 0  !important;
    margin: 0;
}
.banner::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: 0.5;
}
.text{
    text-align: center;
    margin-top: 30vh;
    color: white;
}
.text h1{
    font-family: 'Playfair Display', serif;
    font-weight: 600 ;
    font-style: italic;
    font-size: 53px;
}
.text h1 span{
    color: #e59205;

}
.text p{
    padding: 8px 330px;
    color: #fff;
}
.text .more{
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease-in-out;
}
.text .more:hover{
 
    border: 2px solid #e59205;
    background: #e59205;
}
.body{
    height: 850px;
 
}
.text2 h1{
    font-family: 'Playfair Display', serif;
    font-weight: 600 ;
    font-style: italic;
    font-size: 50px;

    color: #6e7498;
}
.one{
    position: relative;
}
.one span::before{
    content: "";
    height: 1px;
    width: 16%;
    position: absolute;
    top: 35px;
    left: 50px;
    background: #e59205;

}
.one span::after{
    content: "";
    height: 1px;
    width: 16%;
    position: absolute;
    top: 35px;
    right: 50px;
    background: #e59205;

}
.text2 p{
    font-family: 'Raleway', sans-serif;
    color: #a4a8bc;
    font-size: 15px;
    padding: 20px 0;
}
.text2 a{
    text-decoration: none;
    padding: 8px 30px;
    color: #6e7498;
    border: 2px solid #dadceb;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease-in-out;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
}
.text2 a:hover{
    color: white;
    border: 2px solid #e59205;
    background: #e59205;
}
/* .pho{
    display: flex;
    justify-content: space-between;
} */
.pic img {
    box-shadow: 0px 0px 15px 3px #f1f2f6;
    /* width: 80%  !important; */
}

.pic article{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #a4a8bc;


}
.learn a{
    text-decoration: none;
    padding: 8px 20px;
    color: #6e7498;
    border: 2px solid #dadceb;
    display: inline-block;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease-in-out;
    font-weight: 400;
   
}
.learn a:hover{
    color: white;
    border: 2px solid #e59205;
    background: #e59205;
}
.pic .dolar{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 35px;
    color: #e59205;
    font-weight: 600;
}
.pic b{
    font-family: 'Raleway', sans-serif;
}
.our{
    display: flex;
    height: 500px;
}
.chk{
    width: 25%;
    background: #e59205;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.our h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
    padding: 50px;
    font-size: 50px;
    color: #fff;
}
.our .img{
    width: 75%;
    background-image: url(../pic/brack.png);
    background-size: cover;
    height: 80%;

}
.ph img{
    width: 12% !important;
}

.ser b{
    font-family: 'Playfair Display', serif;
    color: #6e7498;
    font-size: 22px;
    padding: 20px 0px;
    display: inline-block;
}
.ser article {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 13px;
    padding: 0px 50px;
    color: #a4a8bc;
}
footer{
    background-image: url(../pic/banner2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
footer h1{
    color: white;
    margin-top: 25vh;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
footer input{
    width: 58%;
    border: 2px solid white;
    background: transparent;
    padding: 8px 0;
    margin: 40px 0;
    color: white;
  
}
footer input:focus{
    outline: none;
}
footer input::placeholder{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    
}

.send a{
    text-decoration: none;
    padding: 8px 20px;
    color: white;
    background: #e59205;
    border: 2px solid #e59205;
    display: inline-block;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease-in-out;
    font-weight: 400;
   
}
.send a:hover{
    border: 2px solid #dadceb;
    background: transparent;
}



.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .progress-wrap::after {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: #e59205;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::after {
    opacity: 0;
  }
  
  .progress-wrap::before {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::before {
    opacity: 1;
  }
  
  .progress-wrap svg path { 
    fill: none; 
  }
  
  .progress-wrap svg.progress-circle path {
    stroke: #e59205;
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }


  /* BCAK to TOP  */



/* 
.this {
    --fz: 14px;
    --lh: 1.5;
    --max-lines: 5;
    font-size: var(--fz);
    line-height: var(--lh);
    -webkit-line-clamp: var(--max-lines);
    max-height: calc(var(--fz) * var(--lh) * var(--max-lines));
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    white-space: pre-wrap;
		word-wrap: break-word;
    transition: max-height .5s ease;
  }
  
  input:checked + .this {
    -webkit-line-clamp: unset;
    max-height: 330px;
  }
  
  input:checked ~ .button{
    opacity: 0;
    visibility: hidden;
    max-height: 0;
  }
  
  .button {
    text-decoration: none;
    padding: 10px 30px;
    color: #6e7498;
    border: 2px solid #a4a8bc;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease-in-out;
  }
 */

 .read{
    text-decoration: none;
    padding: 10px 30px;
    color: #6e7498;
    border: 2px solid #a4a8bc;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease-in-out;
 }